<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                var token = 'NzA2YzhkYmQxMDY5YTY4NzA4MTEwMjA4NjlhNDFiYmRiYjI0OWQ2ZmFkMGIwMjA5MzMzMmY4MThmNDRkMzQxMA';

                function arrangeJson(data){
                    var initMatch = /^([a-z0-9]+?)\[/i;
                    var first = /^\[[a-z0-9]+?\]/i;
                    var isNumber = /^[0-9]$/;
                    var bracers = /[\[\]]/g;
                    var splitter = /\]\[|\[|\]/g;

                    for(var key in data) {
                        if(initMatch.test(key)){
                            data[key.replace(initMatch,'[$1][')] = data[key];
                        }
                        else{
                            data[key.replace(/^(.+)$/,'[$1]')] = data[key];
                        }
                        delete data[key];
                    }


                    for (var key in data) {
                        processExpression(data, key, data[key]);
                        delete data[key];
                    }

                    function processExpression(dataNode, key, value){
                        var e = key.split(splitter);
                        if(e){
                            var e2 =[];
                            for (var i = 0; i < e.length; i++) {
                                if(e[i]!==''){e2.push(e[i]);}
                            }
                            e = e2;
                            if(e.length > 1){
                                var x = e[0];
                                var target = dataNode[x];
                                if(!target){
                                    if(isNumber.test(e[1])){
                                        dataNode[x] = [];
                                    }
                                    else{
                                        dataNode[x] ={}
                                    }
                                }
                                processExpression(dataNode[x], key.replace(first,''), value);
                            }
                            else if(e.length == 1){
                                dataNode[e[0]] = value;
                            }
                            else{
                                alert('This should not happen...');
                            }
                        }
                    }
                }

                function formToJson(a) {
                    var o = {};
                    $.each(a, function() {
                        if (o[this.name] !== undefined) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    arrangeJson(o);
                    return o;
                }

                function apiRequest(url, type, data, callback) {
                    $.ajax({
                        url: url,
                        type: type,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(data),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader ("Authorization", "Bearer " + token);
                        }
                    }).done(function(data){
                        if (callback) {
                            callback(data);
                        }
                    });
                }
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
