{% extends 'base.html.twig' %}

{% block body %}

<form id="dns-records">
    <div id="dns-view">

    </div>

    <div id="new-records">

    </div>
    <a href="javascript:addDnsForm()">Add</a>  <button type="submit" class="submit-form">Save</button>
</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var newIndex=0;
        var dnsId = {{ id }};
        function newDnsForm(){
            newIndex++;
            return '<input type="text" name="record[new'+newIndex+'][name]" value=""/><select name="record[new'+newIndex+'][type]"><option value="A">A</option><option value="MX">MX</option></select><input type="text" name="record[new'+newIndex+'][value]" value=""/>';
        }

        function addDnsForm(){
            $('#new-records').append('<div>'+newDnsForm()+'</div>');
        }

        function loadDnsRecords() {

            apiRequest('/api/dns/{{ id }}/records', 'GET', null, function (data) {
                var dnsView = $('#dns-view');
                var dns = data['data'];
                dnsView.html('');

                for (var i in dns) {
                    dnsView.append('<div><input type="text" name="record['+dns[i]['id']+'][name]" value="' + dns[i]['name'] + '"/><select name="record['+dns[i]['id']+'][type]"><option value="A">A</option><option value="MX">MX</option></select><input type="text" name="record['+dns[i]['id']+'][value]" value="'+dns[i]['value']+'"/> <button class="delete-dns-record" data-id="' + dns[i]['id'] + '" href="#">delete</button></div>');
                }
            });
        }

        $(function () {
            loadDnsRecords();
            addDnsForm();

            $('body').on('click', '.delete-dns-record', function(e){
                e.preventDefault();
                apiRequest('/api/dns/record/'+$(this).data('id'), "DELETE", {}, function(data){
                   loadDnsRecords();
                });
            });

            $('#dns-records').submit(function (e) {
                e.preventDefault();
                var data = formToJson($(this).serializeArray());
                var records = data['record'];

                $('.submit-form').attr('disabled','disabled');

                for (var i in records) {
                    if ($.isNumeric(i)) {
                        apiRequest('/api/dns/record/'+i, 'PUT', records[i]);
                    } else {
                        apiRequest('/api/dns/'+dnsId+'/record', 'POST', records[i]);
                    }
                }

                setTimeout(function(){
                    $('.submit-form').removeAttr('disabled');
                    $('#new-records').html('');
                    loadDnsRecords();
                    addDnsForm();
                },800);
            })

        });
    </script>
{% endblock %}
