{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" id="create-dns">
        <input type="text" name="name" placeholder="dns name"/><br/>
        <button type="submit">Create dns</button>
    </form>

    <div id="dns-view">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function loadDns() {
            apiRequest('/api/dns', 'GET', null, function (data) {
                var dnsView = $('#dns-view');
                var dns = data['data'];
                dnsView.html('');

                for (var i in dns) {
                    dnsView.append('<div>' + dns[i]['name'] + ' <a class="edit-dns" data-id="' + dns[i]['id'] + '" href="edit/' + dns[i]['id'] + '">edit</a> <a class="delete-dns" data-id="' + dns[i]['id'] + '" href="#">delete</a></div>');
                }
            });
        }

        $(function () {
            loadDns();

            $('#create-dns').submit(function (e) {
                e.preventDefault();
                var jsonData = formToJson($(this).serializeArray());
                apiRequest('/api/dns', 'POST', jsonData, function (data) {
                    console.log(data);
                    loadDns()
                });
            });

            $('body').on('click', '.delete-dns', function (e) {
                e.preventDefault();
                apiRequest('/api/dns/'+$(this).data('id'), 'DELETE', {}, function(data){
                    loadDns();
                });
            });
        });
    </script>
{% endblock %}
